* {
    border-radius: 0;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    margin-top: 3%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;

    color: #000000;
}

h2 {
    margin-top: 43.24px;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;

    color: #000000;
}

hr {
    position: static;
    width: 100%;
    border: 1px solid #eaeaea;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pai {
    width: 76.94%;
}

.Pag1-pai {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Pag1-imglogo {
    display: flex;
    flex-grow: 1;
    max-width: -10px;
}

.Pag1-logo {
    height: 100px;
    transition: all 0.5s;
    cursor: pointer;
}

.Pag1-logo:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

.pesquisar-m {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(116, 211, 116, 0.281);
    height: 40px;
    margin-top: 30px;
    border-radius: 10px;
    flex-grow: 2;
}

.pesquisar-m:hover>.pesquisar-texto {
    width: 290px;
}

.pesquisar-m:hover>.pesquisar-btn {
    background: white;
}

.pesquisar-texto {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 13px;
    width: 0px;
    transition: 0.4s;
}

.pesquisar-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.Pag1-Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.Pag1-Botoes {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.Pag1-header {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    background: rgba(0, 0, 0, 0.31);
    border: 1px solid rgba(53, 53, 53, 0.9);
    backdrop-filter: blur(4px);
    color: white;
}

.Pag1-opcoes {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.iconPesquisar {
    margin-left: 0px;
    margin-top: 3px;
    color: #000000;
}

.b-login {
    border-radius: 25px;
    border: 1px solid black;
    background: white;
    width: 100px;
    height: 35px;
    transition: all 0.3s ease;
    font-family: 'Poppins';
}

.b-login:hover {
    background-color: rgba(116, 211, 116, 0.795);
    color: white;
    border: 1px solid rgba(9, 131, 9, 0.52);
    transition: all 0.5s ease;
}

.b-cadastro {
    border: 1px solid #6c6c6c;
    width: 100px;
    border-radius: 25px;
    height: 35px;
    transition: all 0.3s ease;
    font-family: 'Poppins';
}

.b-cadastro:hover {
    background-color: rgba(10, 80, 8, 0.685);
    color: white;
    border: 1px solid rgba(160, 203, 158);
    transition: all 0.5s ease;
}

.primeiro-hr {
    margin-top: 35.76px;
}

.segundo-hr {
    margin-top: 63.76px;
}

.slide-show1 {
    position: relative;
    right: 6%;
    margin-top: 3%;
    width: 1270px;
    height: 304px;
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.29);
    border: 2px solid #000000;
    backdrop-filter: blur(4px);
    border-radius: 25px;
}

.slide-show2 {
    position: relative;
    right: 6%;
    margin-top: 3%;
    width: 1270px;
    height: 304px;
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.29);
    border: 2px solid #000000;
    backdrop-filter: blur(4px);
    border-radius: 25px;
}

.novidades {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5%;
    width: 100%;
}

.populares {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5%;
    width: 100%;
}

.img-controle {
    width: 314px;
    height: 234px;
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-controle:hover {
    background: #000000;
    opacity: 0.7;
    cursor: pointer;
}

.inferior-direita {
    position: absolute;
    margin-left: 77.57%;
    margin-top: 59%;
    z-index: -1;
}

.superior-direita {
    position: absolute;
    margin-left: 80.7%;
    margin-top: 8%;
    z-index: 0;
}

.centro-direita {
    position: absolute;
    margin-left: 79.76%;
    margin-top: 35%;
    z-index: -1;
}

.centro-superior {
    position: absolute;
    margin-left: 61.25%;
    margin-top: -1.3%;
    z-index: -1;
}

.centro-esquerda {
    position: absolute;
    margin-top: 42.5%;
    margin-left: -2%;
    z-index: -1;
}

.superior-esquerda {
    position: absolute;
    margin-top: 5%;
    margin-left: -4.6%;
    z-index: -1;
}